@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  background: black;
  color: white;
  overflow: hidden;
  font-family: "poppins";
}

aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 15px;
}
aside nav {
  display: flex;
  flex-direction: column;
}
aside nav a {
  padding: 20px 10px;
  display: flex;
  gap: 5px;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.3s;
}
@media (max-width: 870px) {
  aside nav a span {
    display: none;
  }
  aside nav a i {
    font-size: 20px;
  }
}
aside nav a:hover {
  background: rgb(32, 32, 32);
}
aside #logo {
  display: none;
  width: 40px;
}
@media (max-width: 870px) {
  aside #logo-text {
    display: none;
  }
  aside #logo {
    display: block;
  }
}
aside img {
  max-width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  width: 100%;
}

main header {
  display: flex;
  justify-content: space-between;
  padding: 24px 10px;
}
@media (max-width: 870px) {
  main header {
    justify-content: center;
  }
}
main header form {
  display: flex;
}
main header form input {
  padding: 6px 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
main header form button {
  background: #1db954;
  height: 100%;
  padding: 0 25px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0 5px 5px 0;
}
main header form button:hover {
  background: #0ff15e;
}
main header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
@media (max-width: 870px) {
  main header ul {
    display: none;
  }
}
main header ul li {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 300ms;
}
main header ul li:hover {
  background: rgb(60, 60, 60);
}

main .songs {
  background: rgb(42, 42, 42);
  height: 100%;
  text-transform: capitalize;
}

main .songs #title {
  padding: 20px;
}

main #list {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80vh;
  overflow-y: auto;
  gap: 20px;
}
main #list::-webkit-scrollbar {
  background: black;
  width: 8px;
}
main #list::-webkit-scrollbar-thumb {
  background: #0e9c3f;
}
@media (max-width: 768px) {
  main #list {
    justify-content: center;
    gap: 50px;
  }
}
main #list .card {
  width: 200px;
  padding: 15px;
  background: #181818;
  border-radius: 6px;
  cursor: pointer;
}
main #list .card:hover .play {
  opacity: 1;
  bottom: 20px;
}
main #list .card figure {
  position: relative;
}
main #list .card figure img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
main #list .card figure .play {
  position: absolute;
  background: #1db954;
  right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 23px;
  opacity: 0;
  bottom: -20px;
  transition: all 0.3s;
}
main #list .card figure .play:hover {
  background: #0e9c3f;
  scale: 0.9;
}
main #list .card h4 {
  margin-bottom: 6px;
}

.playing {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  z-index: 100;
  padding: 10px 40px;
  width: 100%;
  background-color: #fa8bff;
  background-image: linear-gradient(240deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.612);
}
@media (max-width: 768px) {
  .playing {
    font-size: 13px;
    padding: 10px;
  }
}
.playing .info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.playing .info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.playing audio {
  width: 300px;
}

.animate {
  animation: turn 4s linear infinite;
}

@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.audio-player {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 300px;
  height: 80px;
  background-color: #282828;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.album-cover {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 12px;
}

.player-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.song-info {
  margin-bottom: 4px;
}

.song-title {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.artist {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: #1db954;
  transform-origin: left;
  animation: progress-animation 10s linear infinite;
}

.buttons {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btn,
.pause-btn {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.play-btn:hover,
.pause-btn:hover {
  transform: scale(1.2);
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}/*# sourceMappingURL=style.css.map */