@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: #242424;
  color: white;
  overflow-x: hidden;
}

.active {
  display: none;
}

nav a:hover {
  text-shadow: 0 0 20px white;
}
