@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins';
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* grabient.com */
  background-image: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
}

header input {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.206);
}

header div {
  display: flex;
  gap: 20px;
}

header button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

header div button:nth-child(1) {
  background: black;
}
header div button:nth-child(2) {
  background: blue;
}
header div button:nth-child(3) {
  background: red;
}

/* kategoriler */
section {
  padding: 50px;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.category {
  min-width: 200px;
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 800px) {
  .categories {
    justify-content: center;
  }
  .category {
    min-width: 150px;
    max-width: 250px;
  }
  .category h2 {
    font-size: 13px !important;
  }
}

.category img {
  width: 100%;
  border-radius: 10px;
}

.category h2 {
  position: absolute;
  bottom: 10px;
  background: white;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 30px;
}

/* ürünler */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 120px;
  margin-top: 40px;
}

.card {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card .img-wrapper {
  width: 100%;
  height: 200px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.card .info {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
}

.card .info span {
  color: greenyellow;
}

.card .info button {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
  transition: filter 0.4s;
}

.card .info button:hover {
  filter: drop-shadow(0 0 20px pink);
}

/* sepet modal'ı */
.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.616);
  /* çocuk elemanı merkeze hizalar */
  display: none;
  place-items: center;
}

.active {
  display: grid;
}

.modal {
  background: white;
  width: 70%;
  height: 60%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

#btn-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

#btn-wrapper img {
  width: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

#btn-wrapper img:hover {
  scale: 0.95;
  filter: drop-shadow(0 0 20px red);
}

#count,
#price {
  color: rgb(141, 213, 32);
  font-weight: bold;
}
